.place {
  margin: 0 auto;
  margin-bottom: 80px;
  max-width: 928px;
  max-height: 640px;
  display: grid;
  row-gap: 48px;
  column-gap: 40px;
  grid-template-columns: repeat(2, 1fr);
  height: max-content;
}

.place:last-child {
  margin-bottom: 0;
}