.footer {
  margin: 0 auto;
  padding: 0;
  margin-left: 48px;
  margin-right: 48px;
  padding-top: 92px;
  padding-bottom: 24px;
  min-width: 928px;
  max-width: 1280px;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 670px) {
  .footer {
    flex-direction: column;
}